/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* General
***********************/
@media (max-width: 40em) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent; } }

input[type="submit"], input[type="reset"], input[type="button"], select, button {
  -webkit-appearance: none; }

html, body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

body {
  color: #333;
  background: #F2F2F2; }

body, button, input, select, textarea {
  font: normal 16px "helvetica neue", tahoma, "hiragino sans gb", stheiti, "wenquanyi micro hei", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  line-height: 1.7; }

a {
  color: #2094c4;
  outline: none;
  text-decoration: none; }
  a:hover {
    color: #64c0e6; }
    a:hover > img {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  a:active {
    color: #197398; }

p {
  font-size: 16px;
  text-align: justify;
  word-break: break-all;
  margin-bottom: .5em; }

.left {
  float: left; }

.right {
  float: right; }

.container {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto; }
  @media (max-width: 48em) {
    .container {
      width: 750px; } }
  @media (max-width: 40em) {
    .container {
      width: 94%; } }

img {
  display: block;
  width: 100%; }

input[type="text"], textarea {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  font-size: 16px;
  text-indent: .5em; }

textarea {
  height: auto;
  resize: vertical;
  overflow-y: auto; }

.btn, a.btn {
  display: block;
  margin: 1em auto;
  width: 100%;
  height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  background: #15B0E4;
  cursor: pointer; }
  .btn:active, a.btn:active {
    background: #118cb5; }

#layer {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); }
  #layer.show {
    display: block; }
    #layer.show .modal {
      -webkit-animation: show 0.3s ease-out forwards;
      -moz-animation: show 0.3s ease-out forwards;
      -ms-animation: show 0.3s ease-out forwards;
      -o-animation: show 0.3s ease-out forwards;
      animation: show 0.3s ease-out forwards; }

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.modal {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  opacity: 0; }
  .modal h3 {
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-bottom: .5em; }
  .modal input[type="text"] {
    color: #fff;
    background: transparent;
    border-bottom: 1px solid;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .modal input[type="text"]:focus {
      opacity: 1; }
  .modal .close-btn {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    margin-top: 2rem;
    width: 30px;
    height: 30px; }

@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(2.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    opacity: 1; } }

@keyframes show {
  0% {
    transform: scale(2.5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */