/*!
 * Copyright 2017 monad
 */
@charset "utf-8";
/* Reset Styles
***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* General
***********************/
@media only screen and (max-width: 40em) {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}
input[type="submit"],
input[type="reset"],
input[type="button"],
select,
button {
  -webkit-appearance: none;
}
html,
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  color: #333;
  background: #f9f9f9;
}
body,
button,
input,
select,
textarea {
  font: normal 16px 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif;
  line-height: 1.2;
}
a {
  color: #565de7;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #afb3f4;
}
a:hover > img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
a:active {
  color: #2932e1;
}
p {
  font-size: 16px;
  text-align: justify;
  word-break: break-all;
  margin-bottom: .5em;
}
.left {
  float: left;
}
.right {
  float: right;
}
.container {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 48em) {
  .container {
    width: 750px;
  }
}
@media only screen and (max-width: 40em) {
  .container {
    width: 94%;
  }
}
img {
  display: block;
  width: 100%;
}
.input-reset,
input[type="text"],
input[type="number"],
textarea,
.btn,
a.btn {
  display: block;
  margin: 1em auto;
  width: 10em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  border: none;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
@media only screen and (max-width: 40em) {
  .input-reset,
  input[type="text"],
  input[type="number"],
  textarea,
  .btn,
  a.btn {
    width: 100%;
  }
}
input[type="text"],
input[type="number"],
textarea {
  color: #333;
  font-size: 16px;
  text-indent: .5em;
}
textarea {
  height: auto;
  resize: vertical;
  overflow-y: auto;
}
.btn,
a.btn {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  background: #444965;
  cursor: pointer;
}
.btn:active,
a.btn:active {
  background: #2f3347;
}
p {
  font-size: 30px;
  color: red;
  font-weight: bold;
  -webkit-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
p:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
@media only screen and (max-width: 48em) {
  p {
    color: blue;
  }
}
