@import "reset";
@import "variables";
@import "mixin";
@import "responsive";
@import "general";

// Custom

p{
	font-size: 30px;
	color: red;
	font-weight: bold;
	.text-shadow(1px 1px 3px rgba(0,0,0,.6));
	.ellipsis(3);
	.transition-all;
	&:hover{
		.opacity(.6);
	}
	@media @screen-md {
		color: blue;
	}
}