@charset "utf-8";

/* General
***********************/
input[type="submit"], input[type="reset"], input[type="button"], select, button {
	-webkit-appearance: none;
}
html, body{
	margin: 0;
	padding: 0;
}
body{
	color: $font-color;
	font: normal 16px/1.7 $fontfamily;
	background: $body-bg;
}
a{
	color: $link;
	&:hover{
		color: lighten($link, 20%);

		> img{
			@include opacity(.8);
		}

	}
	&:active{
		color: darken($link, 10%);
	}
	text-decoration: none;
}
p{
	font-size: $font-size;
	text-align: justify;
	word-break: break-all;
	margin-bottom: .5em;
}
.left{
	float: left;
}
.right{
	float: right;
}
section{
	margin: $margin;
}
.container{
	position: relative;
	// 这里添加媒体查询
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
img{
	display: block;
	width: 100%;
}

// 输入框和按钮们
@mixin input-reset{
	display: block; // 修复ie7的bug
	width: 100%;
	margin: 1em 0;
	padding: .5em 0;
	line-height: normal;
	border: none;
	outline: none;
	@include border-radius(2px);
}
input[type="text"]{
	@include input-reset;
	color: $font-color;
	text-indent: .5em;
	margin-left: 0;
}
.btn, a.btn{
	@include input-reset;
	font-weight: bold;
	text-align: center;
	color: $btn-color;
	font-size: $btn-fz;
	background: $btn-bg;
	&:active{
		background: darken($btn-bg, 10%);
	}
}
