@charset "utf-8";

// utils
@mixin inline-block{
	display: inline-block;
	*display: inline;
	zoom: 1;
}

@mixin opacity($opacity){
	opacity: $opacity;
	$opacity-ie: $opacity*100;
	filter: alpha(opacity=$opacity-ie);
}

@mixin clearfix{
	&:before, &:after{content:""; display:table;}
	&:after{clear:both;}
	*zoom:1;
}

// 水平垂直居中
@mixin vercenter{
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);
}	

// 文本截取
// 单行 @include ellipsis
// 多行 @include ellipsis(3)
@mixin ellipsis($line:false){
	@if($line){
		overflow : hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: $line;
		-webkit-box-orient: vertical;
	}
	@else{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

// 媒体查询（建议使用em作为单位）
// 看这篇：http://www.w3cplus.com/css/media-query-units.html

// 桌面显示器 (≥992px)
@mixin screen-lg{
	@media (max-width: 62em) {
		@content;
	}
}
// 平板 (≥768px)
@mixin screen-md{
	@media (max-width: 48em){
		@content;
	}
}
// 手机 (<768px)
@mixin screen-sm{
	@media (max-width: 40em){
		@content;
	}
}

// css3
@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($str){
	-webkit-box-shadow: $str;
	-moz-box-shadow: $str;
	-ms-box-shadow: $str;
	-o-box-shadow: $str;
	box-shadow: $str;
}

@mixin translate($x, $y, $z:false){
	@if($z){
		-webkit-transform: translate3d($x, $y, $z);
		-moz-transform: translate3d($x, $y, $z);
		-ms-transform: translate3d($x, $y, $z);
		-o-transform: translate3d($x, $y, $z);
		transform: translate3d($x, $y, $z);
	}
	@else{
		-webkit-transform: translate($x, $y);
		-moz-transform: translate($x, $y);
		-ms-transform: translate($x, $y);
		-o-transform: translate($x, $y);
		transform: translate($x, $y);
	}
}

@mixin transition($str){
	-webkit-transition: $str;
	-moz-transition: $str;
	-ms-transition: $str;
	-o-transition: $str;
	transition: $str;
}