@charset "utf-8";

// 主题色
$primary-color: #DE0927;
$secondary-color: blue;

// 主间距
$margin: 30px;
$padding: 15px;

// 背景
$body-bg: #F2F2F2;
// $body-bg: #333 url(../img/bg.jpg) repeat-y;

// 链接
$link: #2094c4;

// 字体
$font-color: #333;
$font-size: 16px;
$line-height: 1.7;
$fontfamily: 'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;

// 按钮
$btn-color: #fff;
$btn-fz: 16px;
$btn-bg: #15B0E4;

@import 'reset';
@import 'mixin';
@import 'general';


// 弹出框
.layer{
	display: none;
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.8);
	&.show{
		display: block;
		.modal {
			@include animation(show .3s ease-out forwards);
		}
	}
}
.blur{
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.modal{
	position: absolute;
	width: 80%;
	top: 20%;
	left: 10%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	opacity: 0;
	h3{
		color: #fff;
		text-align: center;
		font-size: 18px;
		margin-bottom: .5em;
	}
	input[type="text"]{
		color: #fff;
		background: transparent;
		border-bottom: 1px solid;
		@include transition(.2s);
		&:focus {
			opacity: 1;
		}
	}
	.close-btn{
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -15px;
		margin-top: 2rem;
		width: 30px;
		height: 30px;
	}
}
@-webkit-keyframes show{
	0% {
		-webkit-transform: scale(2.5);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@keyframes show{
	0% {
		transform: scale(2.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}